<body>
<div class="responsive-gauge">

  <div class="custom-container" [hidden]="ocultarLoad">
    <img [src]="'assets/wowo-applause-8.gif'" class="custom-image">
    <br>
    <span class="sr-only">Aplaudid!</span>
  </div>

  <div *ngIf="decibelPercentage !== null">
    <ngx-gauge [type]="'semi'"
               [value]="decibelPercentage"
               [label]="'Aplausomento'"
               [cap]="'round'"
               [append]="'%'" [animate]="true"
               [thick]="gaugeThick"
               [thresholds]="gaugethresholds"
               [max]="gaugemax" [size]="400">
    </ngx-gauge>
    <br>

    <button type="button" class="btn btn-success" style="center" (click)="restart()">Empezar de nuevo</button>
  </div>

  <form [hidden]="ocultarButton">
    <div class="form-group">
      <label for="minParam">Introduce el parametro minimo de dB requerido</label>
      <input  type="text" [(ngModel)]="minParam" class="form-control" id="minParam">
    </div>
    <div class="form-group">
      <label for="maxParam">Introduce el parametro maximo de dB requerido</label>
      <input type="text"  [(ngModel)]="maxParam" class="form-control" id="maxParam">
    </div>
    <br/>
    <button type="button" class="btn btn-dark" [hidden]="ocultarButton" (click)="startRecording()">
      Comenzar a medir los aplausos
    </button>
  </form>

</div>
</body>

