
.responsive-gauge {
  background-image: url('../assets/erizo-archivos-1.svg');
  background-size: auto;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}
.custom-container {
  max-width: 70vw; // Ancho máximo para el div
  text-align: center; // Centra el contenido horizontalmente
  margin: 0 auto; // Centra el div horizontalmente en su contenedor
}

.custom-image {
  max-width: 70vw; // Ancho máximo para la imagen
  max-height: 70vh; // Altura máxima para la imagen
}
